# Backend

backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__
backend/db.sqlite3
backend/media
# Backup files # 
*.bak 
# Python # 
*.py[cod] 
*$py.class 
# Distribution / packaging 
backend/dist/ 
backend/wheels/ 
backend/pip-log.txt 
backend/pip-delete-this-directory.txt 
backend/venv/
# mypy 
backend/.mypy_cache/


# Front end

frontend/.DS_Store
frontend/node_modules
frontend/dist
# local env files
frontend/.env.local
frontend/.env.*.local
# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
# Editor directories and files
frontend/.vscode
